<div class="modal-wrapper" [ngClass]="modalOn ? 'modal-on' : 'modal-off'">
    <div class="modal">
        <div class="modal-header">
            <h1>새로운 시작</h1>
        </div>
        <div class="modal-content">
            <p>
                <label for="project_name">프로젝트이름</label>
                <input [ngClass]="[nameError ? 'error' : '']"
                    type="text" id="project_name" 
                    [(ngModel)]="projectName" 
                    (keyup)="handleName($event)">
            </p>
            <p>
                <label for="project_type">프로젝트 타입</label>
                <select [ngClass]="[typeError ? 'error' : '']"
                    id="project_type" (change)="handleType($event)">
                    <option disabled>-------</option>
                    <option value="java">JAVA</option>
                    <option value="c">C Language</option>
                </select>
            </p>
            <ng-container *ngIf="problem">
                <p>문제: {{problem.name}}</p>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button (click)="create()">확인</button>
            <button (click)="cancel()">취소</button>
        </div>
    </div>
</div>