section {
    display: flex;  
    flex-direction: column;
    align-items: center;
    .slogan {
        position: relative;
        width: 100%;
        height: 250px;
        max-height: 250px;
        background: url('../../assets/back.jpg');  
        .back {
            position: absolute;
            top:0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background:rgba(0,0,0, 0.3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            p {
                font-size: 3rem;
                color: white;
                font-weight: 600;
                text-align: center;
            }
        }
    }
    article {
        min-width: 1200px;
        h1 {
            font-size: 2rem;
            font-weight: 600;
        }
        table {
            margin-top: 30px;
            width: 100%;
            border: 1px solid #a0a0a0;
            th, td {
                padding: 10px 0;
                border-right: 1px solid #a0a0a0;
            }
            tr {
                border-top: 1px solid #a0a0a0;
            }
            th:last-child,
            td:last-child {
                border-right: 0;
            }
            td {
                text-align: center;
                padding: 10px 5px;
            }
            td.title {
                text-align: left;
            }
            tbody {
                tr {
                    cursor: pointer;
                }
            }
        }
    }
    .pagination {
        text-align: center;
        ul {
            margin-top: 15px;
            li {
                padding: 10px;
                border: 1px solid #a0a0a0;
                display: inline-block;
            }
        }
    }
}