li {
    .directory-img {
      display: inline-block;
      width: 150px;
      height: 150px;
      margin: 1rem 1rem 0.25rem 1rem;
      background-size: 100% 100%;
      background-image: url(../../../assets/java.png); 
    }
    .directory-img.java {
      background-image: url(../../../assets/java.png); 
    }
    .directory-img.c {
      background-image: url(../../../assets/c-programming.png);
    }
    .name-wrapper {
      p {
        text-align: center;
      }
    }
    .rename-wrapper {
      display: flex;
      justify-content: center;
      input[type=text] {
        width: 100px;
        padding: 0 5px;
      }
    }
    .span-name {
      vertical-align: middle;
    }
    .btn-change {
      display: inline-block;
      margin-left: 3px;
      vertical-align: middle;
      font-size: 0;
      border: 0;
      width: 20px; height: 20px;
      background: none;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: center center;
      background-image: url(../../../assets/pen.png);
    }
    .change-button {
      display: inline-block;
      margin-left: 3px;
      vertical-align: middle;
      font-size: 0;
      border: 0;
      width: 20px; height: 20px;
      background: none;
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: center center;
      background-image: url(../../../assets/pen.png);
    }
}