<li (click)="clickProject()">
    <div class="directory-img {{project.category}}"></div>
    <div class="name-wrapper">
        <p *ngIf="!isChange">
            <span class="span-name">{{project.name}}</span>
            <button class="btn-change" (click)="toggleIsChange($event)">F</button>
        </p>
        <p  *ngIf="isChange" 
            class="rename-wrapper" (click)="preventEvent($event)">
            <input type=text [(ngModel)]="name" (click)="clickInput($event)"/>
            <button class="change-button" (click)="modifyName($event)">c</button>
        </p>
    </div>
</li>