<div class="body-container">
    <header>
        <nav *ngIf="!isLoggedIn">
            <ul>
                <li>
                    <a [routerLink]="'/login'">로그인</a>
                </li>
                <li>
                    <a (click)="signup()">회원가입</a>
                </li>
            </ul>
        </nav>
        <nav *ngIf="isLoggedIn">
            <ul>
                <li>
                    <a [routerLink]="'/directory'">프로젝트</a>
                </li>
                <li>
                    <a [routerLink]="'/problems'">문제리스트</a>
                </li>
                <li>
                    <a [routerLink]="'/mypage'">마이페이지</a>
                </li>
                <li>
                    <a (click)="signout()">로그아웃</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="router-wrapper">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p>
            <span>@TEAM 영구성장</span>
        </p>
    </footer>
</div>

