@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic'
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    header{
        text-align: right;
        nav{
            ul {
                li {
                    padding: 1rem;
                    display: inline-block;
                    a {
                        cursor: pointer;
                        color: black;
                        margin-right: 10px;
                    }
                }
                li:hover {
                    background: #fafafa;
                }
            }
        }
    }
    .router-wrapper {
        height: 100%;
    }
    footer {
        padding: 0.5rem;
        p {
            font-size: 1rem;
            text-align: center;
        }
    }
}