<div class="modal-wrapper" [ngClass]="modalOn ? 'modal-on' : 'modal-off'">
    <div class="modal">
        <div class="modal-header">
            <h1>생성하기</h1>
        </div>
        <div class="modal-content">
            <p>
                <label for="name">이름</label>
                <input [ngClass]="[nameError ? 'error' : '']"
                    type="text" id="name" 
                    [(ngModel)]="name" 
                    (keyup)="handleName($event)">
            </p>
            <p *ngIf="pathMode">
                <label for="path">경로</label>
                <select [(ngModel)]="path">
                        <option [ngValue]="null">/</option>
                        <ng-template #recursiveList let-list="files">
                            <ng-container *ngFor="let file of list">
                                <ng-container *ngIf="file.isDirectory">
                                    <option *ngIf="file.isDirectory" [ngValue]="file">/{{file.path ? file.path + "/" : ""}}{{file.name}}</option>
                                    <ng-container *ngTemplateOutlet="recursiveList; context: file"></ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    <ng-container *ngTemplateOutlet="recursiveList; context: project"></ng-container>
                </select>
            </p>
        </div>
        <div class="modal-footer">
            <button (click)="create()">확인</button>
            <button (click)="cancel()">취소</button>
        </div>
    </div>
</div>