<article>
    <div class="tabs-wrapper">
        <ng-container *ngIf="files">
            <ul class="tab-list">
                <li class="tab" *ngFor="let file of files" 
                    [ngClass]="{'active': file===selectFile}" (click)="clickFile(file)">
                    <p [ngClass]="{'is-temp': file.isTemp || file.modify}">
                        {{file.name}}
                    </p>
                </li>
                <LI class="tab new-tab" (click)="createNewFile($event)">
                    <p>+</p>
                </LI>
            </ul>
        </ng-container>
    </div>
    <div class="editor-wrapper">
        <div ace-editor class="editor" theme='eclipse' [(text)]="text" 
            (textChanged)="changeEditor($event)"></div>
            <div class="toolbox-wrapper">
                <button (click)="uploadFile($event)">save</button>
                <button (click)="compileProject($event)">compile</button>
            </div>
    </div>
</article>